.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main main main'
    'menu main main main main main';
  grid-gap: 10px;
}

.header {
  background: red;
  grid-area: header;

}

.menu {
  background: orange;
  grid-area: menu;
}

.main {
  background: blue;
  grid-area: main;
}
